body {
    font-family: "DM Sans", system-ui;
}

/* Container */

.container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 65px;
        
        }
}


html {
    scroll-behavior: smooth;
}

