/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  padding-left: 74px;
}

.logo img {
  height: 98px;
  margin-right: 10px;
}


/* Menu container */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Розміщення контенту рівномірно */
}

/* Navigation container */
nav {
  background-color: rgba(241, 235, 229, 1);
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Тінь */
  display: flex;
  align-items: center;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #6a4e3b;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a38367;
}

/* Sign up button */
.signup-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #cfb484 0%, #dec396 100%);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.signup-btn:hover {
  background: linear-gradient(90deg, #dec396 0%, #cfb484 100%);
}
