/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  padding-left: 74px;
}

.logo img {
  height: 98px;
  margin-right: 10px;
}


/* Menu container */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.back {
  width: 361px;
  height: 43px;
  background: linear-gradient(90deg, 
    rgba(136, 84, 46, 0.1) 4%, 
    rgba(159, 128, 92, 0.1) 20%, 
    rgba(232, 216, 186, 0.1) 44%, 
    rgba(173, 144, 83, 0.1) 62%, 
    rgba(114, 77, 41, 0.1) 90.6%, 
    rgba(111, 74, 39, 0.1) 92%, 
    rgba(70, 30, 24, 0.1) 100%
);
  border-radius: 20px;
  stroke-width: 1px;
stroke: #000;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
}
.top-names {
  font-family: "Kyiv Type Sans", serif;
  width: 55px;
  height: 14px;
  letter-spacing: 0.3px;
  margin: 0 15px;
  opacity: 100%;
}

.top-links {
  text-decoration: none;
  color: #6a4e3b;
  opacity: 100%;
  font-weight: lighter;
  transition: color 0.3s ease;
}

/* Sign up button */
.signup-btn {
    font-size: 16px;
  padding-top: 12px;
  padding-left: 29px;
  width: 119px;
  height: 41px;
  margin-right: 70px;
  margin-left: 24px;
  font-size: 16px;
  font-weight: lighter;
  color: #422011;
  background: linear-gradient(90deg, #ae9155 0%, #e8d8ba 56.31%);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition:  0.3s ease;
}
