<header>
    <div class="logo">
        <img src="/img/logo.png" alt="YJP Logo">
    </div>
    <div class="menu-container">
        <nav>
            <div class="back">
                <ul class="nav-links">
                    <li class="top-names"><a class="top-links" href="#">JOBS</a></li>
                    <li class="top-names"><a class="top-links" href="#">HIRE</a></li>
                    <li class="top-names"><a class="top-links" href="/src/contact.html">CONTACT</a></li>
                    <li class="top-names"><a class="top-links" href="#">LOGIN</a></li>
                </ul>
            </div>
        </nav>
        <a class="signup-btn" href="#" >SIGN UP</a>
    </div>
</header>
